ANOVA Test

In [8]:
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
data={
    'Age':[25,32,41,28,35,45,30,38,43],
    'Income':[50000,65000,75000,55000,70000,80000,60000,72000,78000],
    'Education':['Bachelor','Master','PhD','Bachelor','Master','PhD','Bachelor','Master','PhD']
}
df=pd.DataFrame(data)

In [10]:
#1. T-test between Bachelor's and Master's
bachelor_income=df[df['Education']=='Bachelor']['Income']
master_income=df[df['Education']=='Master']['Income']

t_stat,p_value_ttest=stats.ttest_ind(bachelor_income,master_income)
print(f"T-test results: t-statistics= {t_stat},p-value={p_value_ttest}")

#2. One-way ANOVA
anova_result=ols('Income ~ C(Education)',data=df).fit()
anova_table=sm.stats.anova_lm(anova_result,typ=2)
print("\nOne-way ANOVA results:")
print(anova_table)

#Null Hypothesis: The mean income of Bachelor's, Master's and PhD are equal
#Alternate Hypothesis: At least one mean income is different

T-test results: t-statistics= -3.9336604086431146,p-value=0.01705041829957295

One-way ANOVA results:
                    sum_sq   df          F    PR(>F)
C(Education)  7.848889e+08  2.0  26.556391  0.001046
Residual      8.866667e+07  6.0        NaN       NaN

In [11]:
#3. Regression  Analysis
regression_model=ols('Income ~ Age + Education',data=df).fit()
print("\nRegression Analysis results:")
print(regression_model.summary())

Regression Analysis results:
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Income   R-squared:                       0.991
Model:                            OLS   Adj. R-squared:                  0.986
Method:                 Least Squares   F-statistic:                     190.8
Date:                Thu, 19 Dec 2024   Prob (F-statistic):           1.42e-05
Time:                        15:38:42   Log-Likelihood:                -74.158
No. Observations:                   9   AIC:                             156.3
Df Residuals:                       5   BIC:                             157.1
Df Model:                           3
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept            1.493e+04   5518.014      2.706      0.042     746.529    2.91e+04
Education[T.Master]  3379.3103   1764.149      1.916      0.114   -1155.578    7914.199
Education[T.PhD]      459.7701   3194.683      0.144      0.891   -7752.423    8671.964
Age                  1448.2759    197.788      7.322      0.001     939.846    1956.706
==============================================================================
Omnibus:                        0.218   Durbin-Watson:                   3.139
Prob(Omnibus):                  0.897   Jarque-Bera (JB):                0.380
Skew:                           0.166   Prob(JB):                        0.827
Kurtosis:                       2.050   Cond. No.                         563.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

c:\Users\Rasad Regmi\miniconda3\envs\dsml\lib\site-packages\scipy\stats\_axis_nan_policy.py:418: UserWarning: `kurtosistest` p-value may be inaccurate with fewer than 20 observations; only n=9 observations were given.
  return hypotest_fun_in(*args, **kwds)