In [5]:
import pandas as pd
df = pd.read_csv('new.csv')

In [6]:
print(df.head())

  Series_reference   Period  Data_value Suppressed STATUS    UNITS  Magnitude  \
0      MFGQ.SFA1CA  1992.12     2493.37        NaN      F  Dollars          6
1      MFGQ.SFA1CA  1993.03     3209.20        NaN      F  Dollars          6
2      MFGQ.SFA1CA  1993.06     2780.17        NaN      F  Dollars          6
3      MFGQ.SFA1CA  1993.09     1933.01        NaN      F  Dollars          6
4      MFGQ.SFA1CA  1993.12     2692.92        NaN      F  Dollars          6

                                 Subject  \
0  Manufacturing Survey (ANZSIC06) - MFG
1  Manufacturing Survey (ANZSIC06) - MFG
2  Manufacturing Survey (ANZSIC06) - MFG
3  Manufacturing Survey (ANZSIC06) - MFG
4  Manufacturing Survey (ANZSIC06) - MFG

                                               Group  \
0  Industry by variable - Subannual Financial Col...
1  Industry by variable - Subannual Financial Col...
2  Industry by variable - Subannual Financial Col...
3  Industry by variable - Subannual Financial Col...
4  Industry by variable - Subannual Financial Col...

                         Series_title_1            Series_title_2  \
0  Meat and dairy product manufacturing  Sales (operating income)
1  Meat and dairy product manufacturing  Sales (operating income)
2  Meat and dairy product manufacturing  Sales (operating income)
3  Meat and dairy product manufacturing  Sales (operating income)
4  Meat and dairy product manufacturing  Sales (operating income)

   Series_title_3 Series_title_4 Series_title_5
0  Current prices     Unadjusted            NaN
1  Current prices     Unadjusted            NaN
2  Current prices     Unadjusted            NaN
3  Current prices     Unadjusted            NaN
4  Current prices     Unadjusted            NaN

In [7]:
print(df.tail())

      Series_reference   Period  Data_value Suppressed STATUS    UNITS  \
29344      MFGQ.SFZ5KA  2023.06    9023.253        NaN      F  Dollars
29345      MFGQ.SFZ5KA  2023.09    8922.748        NaN      F  Dollars
29346      MFGQ.SFZ5KA  2023.12    9953.711        NaN      R  Dollars
29347      MFGQ.SFZ5KA  2024.03   10305.656        NaN      R  Dollars
29348      MFGQ.SFZ5KA  2024.06    8873.544        NaN      F  Dollars

       Magnitude                                Subject  \
29344          6  Manufacturing Survey (ANZSIC06) - MFG
29345          6  Manufacturing Survey (ANZSIC06) - MFG
29346          6  Manufacturing Survey (ANZSIC06) - MFG
29347          6  Manufacturing Survey (ANZSIC06) - MFG
29348          6  Manufacturing Survey (ANZSIC06) - MFG

                                                   Group     Series_title_1  \
29344  Industry by variable - Subannual Financial Col...  All manufacturing
29345  Industry by variable - Subannual Financial Col...  All manufacturing
29346  Industry by variable - Subannual Financial Col...  All manufacturing
29347  Industry by variable - Subannual Financial Col...  All manufacturing
29348  Industry by variable - Subannual Financial Col...  All manufacturing

                                          Series_title_2  \
29344  Stocks of finished goods, trading goods and wo...
29345  Stocks of finished goods, trading goods and wo...
29346  Stocks of finished goods, trading goods and wo...
29347  Stocks of finished goods, trading goods and wo...
29348  Stocks of finished goods, trading goods and wo...

                                   Series_title_3 Series_title_4  \
29344  Deflated, at September 2010 quarter prices     Unadjusted
29345  Deflated, at September 2010 quarter prices     Unadjusted
29346  Deflated, at September 2010 quarter prices     Unadjusted
29347  Deflated, at September 2010 quarter prices     Unadjusted
29348  Deflated, at September 2010 quarter prices     Unadjusted

      Series_title_5
29344            NaN
29345            NaN
29346            NaN
29347            NaN
29348            NaN

In [8]:
df.describe()

             Period    Data_value     Magnitude
count  29349.000000  27520.000000  29349.000000
mean    2008.585762   2911.905143      5.709292
std        8.961792   5157.204527      1.288330
min     1992.120000    -26.000000      0.000000
25%     2001.060000    381.108000      6.000000
50%     2009.030000    939.532000      6.000000
75%     2016.120000   2167.149750      6.000000
max     2024.060000  35749.295000      6.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29349 entries, 0 to 29348
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Series_reference  29349 non-null  object
 1   Period            29349 non-null  float64
 2   Data_value        27520 non-null  float64
 3   Suppressed        2 non-null      object
 4   STATUS            29349 non-null  object
 5   UNITS             29349 non-null  object
 6   Magnitude         29349 non-null  int64
 7   Subject           29349 non-null  object
 8   Group             29349 non-null  object
 9   Series_title_1    29349 non-null  object
 10  Series_title_2    29349 non-null  object
 11  Series_title_3    29349 non-null  object
 12  Series_title_4    29349 non-null  object
 13  Series_title_5    1422 non-null   object
dtypes: float64(2), int64(1), object(11)
memory usage: 3.1+ MB